# Port
PORT=8000

 
# Initializing database uri
DATABASE_URL="mysql://myuser:mypassword@localhost:3306/api-builder" 

# Authentication keys
JWT_SECRET_KEY="r3ee4vfd4rwe"
HASHING_SALT="r3ee4vfd4rwefeerrttgsar"

# Pagination
PER_PAGE=30

# CORS Clients (CSV)
CLIENTS="http://localhost:3000" 
 